

* {
    box-sizing: border-box;
}

.box {
    border: 4px solid lightgray;
    height: 100px;
    width: 100px;
}

.small-box {
    height: 50px;
    width: 50px;
    margin: 24px;
}

.container {
    border: 4px solid lightgray;
    display: flex;
    justify-content: space-between;
    padding: 24px;
}

.box-wrapper {
    display: flex;
    align-items:center;
    
}